page-code-projects-modal {

    ion-card p{
        padding-bottom: 16px;
    }

    ion-slide{
        max-height: 400px;
    }

    ion-card{
        position: relative;
    }

    ion-card-header{
        color: white !important;
    }

}
