page-code-projects {

    .code-projects-card {
        position: relative;
        height: 400px;
        overflow: hidden;
        text-overflow: ellipsis;

        ion-slides{
            height: 200px;
            width: auto !important;
        }

        img{
        }

        .fadeout-text{
            height: 2.5em;
            width: 100%;
            position: absolute;
            bottom: 0;
            background: linear-gradient(to bottom, transparent, #242424)
        }
    }

    .code-projects-card:hover {
        background-color: #333;
    }

}
