page-resume {
    h3 {
        color: white !important;
        font-size: 1.2em !important;
    }
    h4 {
        color: white !important;
    }
    div.alert-wrapper{
        background-color: #191919 !important;
    }
}
